#nav {
    background-color: #2F4F4F;
}

#nav-text {
    color: cyan;
    font-family: 'Anton', sans-serif;
}

#page-text {
    color: cyan;
    font-family: 'Bitter', serif;
}

#selfPicture {
    margin-top: 5%;
    margin-bottom: 15px;
    width: 250px;
    height: auto;
    transform: rotate(270deg);
}

#card {
    width: 750px;
}

.form-group > textarea {
    width: inherit;
}

.form-group > input {
    width: inherit;
}

#sendersEmail {
    width: 200%;
}

#emailSubject {
    width: 200%;
}

#emailBody {
    width: 200%;
}